<!-- Navigation bar -->
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/predict">Forecasting</a></li>
    </ul>
    <!-- Logo -->
    <img class="logo" src="https://drive.google.com/thumbnail?id=1W0AyVf83vE1191xHjaUJaCabQBYBPFhx
    ">
    <!-- 獲取username 為了給JavaScript -->
    <div id="username" data-username="{{username}}"></div>

    <div class="member-info">
        <img id="avatar" alt="Avatar">
        <span>Welcome, {{username}} !</span>
    </div>
    <div class="favorites">Favorites (3)</div>
</nav>